.demo {
    width: 80%;
    height: 400px;
    max-width: 600px;
    margin: 2px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
}
 
.chat .messages{
    height: 325px;
    margin-top: 2px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: none;
    padding: 5px;
}
.chat .message{
    width: 70%;
}
.errorSent{
    font-size: 8px;
    font-weight: 300;
    color: #B22222;
}
.chat .panel{
    margin-top: 8px;
    margin-bottom: 8px;
}
#message_text{
    width: 80%;
    display: inline-block;
    margin-left: 8px;
}

#contacts{
    height: 400px;
    width: 200px;
    float: left;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}
 
.chat .messages .user{
    color: darkgreen
}
.msgUser{
    display: block;
    width: 100%;
}
.msgSupport{
    display: block;
    width: 100%;
    float: right;
}
.supportTxt{
    float: right;
}
.divSpanSupport{
    display: block;
    width: 100%;
}
.divSpanUser{
    display: block;
    width: 100%;
}
.spanMsg{
    max-width: 70%;
    float: left;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
    background-color: rgba(180, 245, 178, 0.377)
}
.spanMsgSupport{
    max-width: 70%;
    float: right;
    padding: 5px;
    border-radius: 10px 0 10px 10px;
    background-color: rgba(243, 184, 184, 0.377)
}
.userSupport{
    color: #B22222;
    float: right;
}
.user{
    display: block;
    width: 100%;
    float: left;
} 

.status{
    float: left;
    display: block;
    width: 11px;
    height: 11px;
    margin-top: 6px;
    margin-left: 1px;
    margin-right: 5px;
    border-radius: 2px;
}

.statNoOnline{
    background: gray;    

}

.statOnline{
    background: green;    
}

.statNoPhone{
    background: #B22222;
}

.name{
    min-width: 30%;
    height: 15px;
    display: block;
    padding: 10px;
    /* float: left; */
    font-weight: bold;
    color: darkgreen;    
    border: 1px solid #d4d4d4;
    border-left: none;
    border-top: none;
}
.msglist{
    width: 400px;
    border: 1px solid #d4d4d4;
    display: table-cell;
    border-left: none;
}
.previewMsg{
    color: rgb(172, 179, 180);
    text-align: center;
    padding: 80px 30px;
    font-size: 14px;
}
.previewName{
    color: rgb(172, 179, 180);
    padding-left: 10px;
    font-size: 14px;
    font-weight: 100;
}
.phone{
    display: block;
    min-width: 30%;
}
.contact{
    cursor: pointer;
}
.nameContact:hover{
    background-color: antiquewhite;
}
.nameContact{
    padding: 1px 0;
}
.con{
    font-weight: 500;
    margin: 1px 0;
}
.noRead{
    background-color: #e7eb0510;
    animation: pulse 1.5s infinite;
}
.act{
    background-color: rgba(239, 243, 16, 0.315);
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #e7eb05c9;
    }
    70% {
        -webkit-box-shadow: 0 0 0 3px #e7eb05c9;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #e7eb05c9;
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 #e7eb05c9;
      box-shadow: 0 0 0 0 #e7eb05c9;
    }
    70% {
        -moz-box-shadow: 0 0 0 3px #e7eb05c9;
        box-shadow: 0 0 0 3px #e7eb05c9;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #e7eb05c9;
        box-shadow: 0 0 0 0 #e7eb05c9;
    }
  }
